name: CI
on:
  pull_request:
  push:
    branches: [main]
    tags: ["*"]
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    env:
      JULIA_NUM_THREADS: 2
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1'    # Current stable version
        os: [ubuntu-latest, windows-latest, macos-latest]
        arch:
          - x64
        include:
          - os: macOS-14
            arch: aarch64
            version: '1'
          - os: ubuntu-latest
            arch: x86
            version: '1'
          - os: ubuntu-latest
            arch: x64
            version: '1.6'
          - os: ubuntu-latest
            arch: x64
            version: 'nightly'
          - os: windows-latest
            arch: x64
            version: 'lts'

    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        with:
          project: CSV
      - uses: julia-actions/julia-processcoverage@latest
        with:
          directories: CSV/src,CSV/ext
      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-docdeploy@master
        with:
          project: CSV
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
